html body  head{
	margin: 0;
	padding: 0;
	border: 0;
	width:1024px; 
	height:767px; 
}

#mainDiv {
	margin: 0;
	padding: 0;
	border: 0;
	width:1024px; 
	height:767px; 
	background-color: black;
} 

#leftDiv {
	margin: 0;
	padding: 0;
	border: 0;
	width:512px; 
	height:767px;
	float: left;	
	background-color: #31302F;
	border-spacing: 0;
}

#rightDiv {
	margin: 0;
	padding: 0;
	border: 0;
	width:512px; 
	height:767px; 
	float: right;
	background-color: #31302F;
	border-spacing: 0;
}

#leftContent {
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 14px;
	margin-right: 7px;
	border: 0;
	padding: 0;
	width: 488px;
	height: 739px;
	background-color: #A3A19E;
}

#titleDiv {
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px solid #DAD9D8;
	width: 488px;
	height: 125px;
	text-align: center;
}

#titleDiv p {
	margin: 0;
	padding: 0;
	border: 0;
	color: #41403F;
	font-size: 3em;
}

#directionsDiv {
	margin: 0;
	padding: 0;
	border: 0;
	width: 488px;
	text-align: center;
}

#currentDirection {
	font-size: 3em;
	color: #41403F;
	background-color: #E3E3E2;
}

#nextDirection {
	font-size: 2em;
	color: #41403F;
}

#rightContent {
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 7px;
	margin-right: 14px;
	border: 0;
	padding: 0;
	width: 488px;
	height: 739px;
	background-color: #A3A19E;
}

#mapDiv {
	margin: 0;
	padding: 0;
	border: 0;
	width: 488px;
	height: 738px;	
}

#ambulanceDiv {
	margin: 0;
	padding: 0;
	border: 0;
	text-align:center;
}

#ambIDHeader {
	color: #41403F;
}

.coolBtn {
	-moz-box-shadow: 0px 0px 2px 3px #b3b5ba;
	-webkit-box-shadow: 0px 0px 2px 3px #b3b5ba;
	box-shadow: 0px 0px 2px 3px #b3b5ba;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfe0e6), color-stop(1, #333336));
	background:-moz-linear-gradient(top, #dfe0e6 5%, #333336 100%);
	background:-webkit-linear-gradient(top, #dfe0e6 5%, #333336 100%);
	background:-o-linear-gradient(top, #dfe0e6 5%, #333336 100%);
	background:-ms-linear-gradient(top, #dfe0e6 5%, #333336 100%);
	background:linear-gradient(to bottom, #dfe0e6 5%, #333336 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe0e6', endColorstr='#333336',GradientType=0);
	background-color:#dfe0e6;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #a0a5bf;
	display:inline-block;
	cursor:pointer;
	color:#fcfcfc;
	font-family:Arial;
	font-size:28px;
	padding:13px 24px;
	text-decoration:none;
}
.coolBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #333336), color-stop(1, #dfe0e6));
	background:-moz-linear-gradient(top, #333336 5%, #dfe0e6 100%);
	background:-webkit-linear-gradient(top, #333336 5%, #dfe0e6 100%);
	background:-o-linear-gradient(top, #333336 5%, #dfe0e6 100%);
	background:-ms-linear-gradient(top, #333336 5%, #dfe0e6 100%);
	background:linear-gradient(to bottom, #333336 5%, #dfe0e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333336', endColorstr='#dfe0e6',GradientType=0);
	background-color:#333336;
}
.coolBtn:active {
	position:relative;
	top:1px;
}

#rerouteBtn {
	margin-left: 5px;
	margin-right: 5px;
	background-color: #A3A19E;
	font-size: 80px;
	color: #A3A19E;
	border: 15px solid #A3A19E;
}

#beginRouteBtn{
	width: 300px;
	height:150px;
	font-size:3em;
	margin-left:95px;
}

#forceAlert {
	position: fixed;
	bottom: 50px;
	background-color: #A3A39E;
	color: #A3A39E;
	width: 50px;
	height: 50px;
	border: 0px;
}
